body{
  background: linear-gradient(120deg, #a6f6f1,#0d7377, #a6f6f1);
  font-family: 'Lato', sans-serif;

}

.container{
  display: grid;
  grid-template-rows: 30% auto;
  width: 300px;
  height: 450px;
  margin: 50px auto 130px;
  background-color: #e8ffff;
  border-radius: 5px;
  box-shadow: 0 0 10 3px rgba(0,0,0,0.2);
}

.cal-box{
  width: 200px;
  margin: 5px auto;
}
@media screen and (max-width:450px){
  .cal-boc{
    width: auto;
  }
}

#display{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  padding: 30px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  background: #f8f5f1;
  box-shadow: inset 2px 2px 5px #f8a488,inset -5px -5px 10px #ffffff;
}
.button{
  display: inline-block;
  margin: 15px 0 0 5px;
  width: 42px;
  height: 42px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.4s all;
  background-color: #99dee1;
}

.button:active{
  box-shadow: inset 1px 1px 2px #babeec,inset -1px -1px 2px #ffffff
}
.clearButton{
  background-color: #f4511e;
  color: #ffffff;
}
.mathbutton{
  background-color: #ff7043;
  color: #ffffff;
}
.mathbutton:hover{
  background-color: #ff8a65;
}
.clearButton:hover{
  background-color: #ff8a65;
}
